.header {
  border-bottom: 1px solid rgb(80, 80, 80);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.navLink {
  display: inline-flex;
  padding: 45px;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}

.active {
  color: rgb(71, 116, 180);
}

.main {
  padding: 45px;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
