.header {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #a690a4;
}

.navLink {
  display: inline-flex;
  padding: 45px;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #2d252d;
}

.active {
  color: #d1c7cd;
}

.main {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  background-color: #bfb0bf;
  height: 100%;
}
